.search {
  width: 20%;

   &-results {
    position: absolute;
    max-height: 19.5em;
    overflow: overlay;
    z-index: 10;
    background-color: #fff;
    border-radius: 4px;
    line-height: 1.5;
    width: 170px;
    margin-top: -3px;
    border-left: 1px solid #e6e6ea;

    &__item {
      padding: .2rem .3rem;
      transition: .3s ease-in-out;

      &:hover {
        background-color: rgba(230, 230, 230, .5);
     }

      a {
        text-decoration: none;
        color: #01b3bf;
      }
    }
  }
  
  &-button {
    background: url(../TextField/search.svg) no-repeat;
    background-size: 77%;
    width: 2em;
    height: 2em;
    background-position: 50% 50%;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.textfield {
  outline: none;
  width: 0;
  border: none;
  transition: width .3s ease-in-out;
  margin-right: 5px;
  padding: .2em;

  &__showen {
    border-bottom: 2px solid #9ed4d6;
    width: 140px;
    max-width: 100%;
  }
}

.form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 9px;
}
