.app {
  background-color: #f8f9fb;
  color: #474f5c;
  font-family: 'Raleway', sans-serif;
  min-height: 100vh;
  font-size: 16px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #f8f9fb; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #f8f9fb; 
}


.success-label {
  background-color: red;
}